{% extends "base.html" %}
{% block maincontent%}
{% load static %}
<div class="blog_section layout_padding margin_top90">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <h1 class="blog_taital">My <span class="blog_taital_1">Blog</span></h1>
             <p class="blog_text">upidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
       </div>
    </div>
    <div class="blog_section_2">
       <div class="container">
          <div class="row">
             <div class="col-md-4">
                <div class="blog_box">
                   <div class="blog_img">
                      <h4 class="date_text">Jun 05</h4>
                      <h4 class="prep_text">Veniam, quis nostrud </h4>
                   </div>
                   <p class="lorem_text">elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
             </div>
             <div class="col-md-4">
                <div class="blog_box">
                   <div class="blog_img_2">
                      <h4 class="date_text">Jun 05</h4>
                      <h4 class="prep_text">Veniam, quis nostrud </h4>
                   </div>
                   <p class="lorem_text">elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
             </div>
             <div class="col-md-4">
                <div class="blog_box">
                   <div class="blog_box_3">
                      <div class="blog_img">
                         <h4 class="date_text">Jun 05</h4>
                         <h4 class="prep_text">Veniam, quis nostrud </h4>
                      </div>
                      <p class="lorem_text">elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="readmore_bt_1"><a href="#">Read More</a></div>
       </div>
    </div>
 </div>
{% endblock maincontent%}